@import url('./common/common.css');

/* Components */

@import url('./components/button.css');
@import url('./components/input.css');
@import url('./components/combobox.css');
@import url('./components/table.css');
@import url('./components/paging-navigation.css');
@import url('./components/toast-message.css');
@import url('./components/popup.css');

/* Exercises */

@import url('./layout/navbar.css');
@import url('./layout/content.css');
@import url('./layout/header.css');
@import url('./components/icon.css');
body {
    font-family: Roboto-3;
    font-size: 13px;
    margin: 0;
}

@font-face {
    font-family: Roboto-1;
    src: url(../content/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-2;
    src: url(../content/fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto-3;
    src: url(../content/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Imperial-Script;
    src: url(../content/fonts/ImperialScript-Regular.ttf);
}