.d__input-label {
    outline: none;
    border-radius: 4px;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #bbbbbb;
    margin-bottom: 16px;
    margin-top: 4px;
    margin-right: 10px;
    box-sizing: border-box;
}

.d__input-label-w100 {
    width: calc(100% - 10px);
}

.d__input-label-w50 {
    width: 50%;
}

.d-label--input {
    color: #000000;
    width: 100%;
}

.d__input-label::placeholder {
    font-size: 11px;
    color: #bbbbbb;
}

.d__input-label:focus {
    border: 1px solid #6A8A82;
}

.d__input--invalid:focus {
    border: 1px solid #FF4747;
}

.d__input--icon {
    background-image: url('../../content/icon/search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
    padding-left: 40px;
}