.d--popup-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    padding: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.d-popup-auto-width {
    width: auto !important;
}

.d-col {
    /* margin-right: 10px !important; */
    display: flex;
}

.d-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 50%;
    height: 60vh;
    background-color: #fff;
}

.d-popup--title {
    margin: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-popup--title-1 {
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
}

.d-popup--title-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-mask: url('../../content/icon/x.svg') no-repeat center;
    mask: url('../../content/icon/x.svg') no-repeat center;
    /* background-image: url('../../content/icon/x.svg'); */
    background-color: #c44646;
    cursor: pointer;
}

.d-popup--title-close:hover {
    opacity: 0.8;
}

.d-popup--content {
    margin: 0px 24px 24px 24px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.d-inform-text--type {
    text-transform: uppercase;
    margin-bottom: 4px;
}

.d-inform-text--type-under {
    width: 70px;
    height: 3px;
    background-color: #6A8A82;
    margin-top: 4px;
    margin-bottom: 16px;
}

.d-popup--button {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px 24px;
    background-color: #E9EBEE;
}

.d-btn-default {
    background-color: unset;
    margin-right: 16px;
    color: #000000;
}

.d-btn-default:hover,
.d-btn-default:focus {
    background-color: #BBBBBB;
}