.d-table {
    border-collapse: collapse;
    /* border-spacing: unset; */
    width: 100%;
}

.d-table tr {
    height: 48px;
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
}

.d-table tbody tr:nth-child(2n-1) {
    background-color: #E9EBEE;
}

.d-table tbody tr:hover {
    background-color: #EBF9F4;
}

.d-table tbody td,th {
    padding: 0 8px;
}

.d-table tr td:first-child, th:first-child {
    padding-left: 16px;
    padding-right: 10px;
}

.row--selected {
    background-color: rgba(204, 133, 41, 0.911) !important;
}


